body{
	background-position: 50% 50%;
	background-image: url(../img/background3.jpg);
	background-repeat: no-repeat;
	background-size: cover;

}




/* Header */

header{
	width: 100vw;
	font-size: 15vh;
	font-family: 'Audiowide', cursive;
	color: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
	z-index: 100;

}


/* Meny */

nav{
	width: 100vw;
	background-image: url(../img/menu.png);
	position: fixed;
	top: 13.5vh;
	left: 0;
	z-index: 100;
}


nav ul{
	text-align: center;

}

nav ul li:hover {
	background-image: url(../img/menuHover.png);

}

nav ul li{
	display: inline-block;
	list-style: none;
	padding: 1.5vh 4vh;
	position: relative;
}

nav a.active{
	background-image: url(../img/menuHover.png);

}


/* Dropdownmeny */

nav ul ul {
    display: none;
}
 
nav ul > li:hover > ul {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 5;
    background-image: url(../img/underMenu.png);
}  

nav ul ul li {
    display: block;
    background-image: url(../img/underMenu.png);
    padding: 2vh 4vw;
	
}

nav ul ul > li:hover > ul {
    position: absolute;
    left: 100%;
    top:0;
    padding: 1vh 2vw;
}


/* Slut dropdownmeny */

nav a{
	
	font-family: 'Unica One', cursive;
	font-size: 3.5vh;
	text-decoration: none;
	color: #FFF;

}

h3 {
	font-family: 'Unica One', cursive;
	background-color: black;
	font-size: 23px;
	font-weight: bold;
	color: #FFF;
	margin-bottom: 15px;

}


p{
	font-family: calibri;
	color: black;
	font-size: 2.25vh;
}


.mainContainer{
	width: 85vw;
	height: 100vh;
	margin: 9vh auto;
	margin-top: 25vh;
	
	
}


.articleContainer{
	width: 85vw;
	height: 50vh;
	margin: 0 auto;
	display: block;

	
}


.leftBox{
	float:left;
	height: 45vh;
	width: 46%;
	border: 1px solid black;
	background-color: white;
	display: inline-block;
	padding: 15px 15px;
}

.rightBox{
	float:right;
	height: 45vh;
	width: 46%;
	border: 1px solid black;
	background-color: white;
	display: inline-block;
	padding: 15px 15px;

}

.lastBox{
	
	height: 50vh;
	width: 97%;
	border: 1px solid black;
	background-color: white;
	display: block;
	margin-top: 3vh;
	padding: 15px 15px;


}

.imgGz{
	height: 150px;
	width: 350px;
	background-image: url(../img/Gz.png);
	background-size: 50% 50%;
	background-repeat: no-repeat;
	float: right;
	margin: 0 auto;

}

.clear{
	clear: both;
}







/*MEDIAQUERY START*/




@media all and (max-width: 1000px){



	/* When the size is smaller than iPad- Switch to columns */

	

	.leftBox{
		float:left;
		height: 40vh;
		width: 100%;
		border: 1px solid black;
		background-color: white;
		margin-right: 2vw;
		margin-bottom: 2vh;
		display: block;

	}

	.rightBox{
		float:left;
		height: 40vh;
		width: 100%;
		border: 1px solid black;
		background-color: white;
		margin-right: 2vw;
		margin-bottom: 2vh;
		display: block;
		
	}

	.lastBox{
		float: left;
		width: 100%;
		border: 1px solid black;
		background-color: white;
		display: block;
		margin-top: 3vh;

}

	.mainContainer{

		display: block;
	}




	/*Column code finished*/


body{

	background-repeat: repeat;
	}	
	

	
}


@media all and (max-width: 925px){

header{
	width: 100vw;
	font-size: 14vh;
	font-family: 'Audiowide', cursive;
	color: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
	z-index: 100;

	}


nav{
	width: 100vw;
	position: fixed;
	top: 12.5vh;
	left: 0;
	z-index: 100;
	}

body{

	background-repeat: repeat;
	}	


}

@media all and (max-width: 875px){

header{
	width: 100vw;
	font-size: 12.5vh;
	font-family: 'Audiowide', cursive;
	color: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
	z-index: 100;

	}


nav{
	width: 100vw;
	position: fixed;
	top: 11vh;
	left: 0;
	z-index: 100;
	}

body{

	background-repeat: repeat;
	}	


}


@media all and (max-width: 825px){

header{
	width: 100vw;
	font-size: 11.5vh;
	font-family: 'Audiowide', cursive;
	color: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
	z-index: 100;

	}


nav{
	width: 100vw;
	position: fixed;
	top: 10.5vh;
	left: 0;
	z-index: 100;
	}

body{

	background-repeat: repeat;
	}	

}


@media all and (max-width: 775px){

header{
	width: 100vw;
	font-size: 9vh;
	font-family: 'Audiowide', cursive;
	color: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
	z-index: 100;

	}

nav{
	width: 100vw;
	background-image: url(../img/underMenu.png); /*underMenu.png är meny utan skugga*/
	position: fixed;
	top: 9vh;
	left: 0;
	z-index: 100;
	}


nav a{
	
	font-family: 'Unica One', cursive;
	font-size: 2.5vh;
	text-decoration: none;
	color: #FFF;

	}

.lastBox{

		height: 60%;
		width: 100%;
		border: 1px solid black;
		background-color: white;
		margin-right: 2vw;
		margin-bottom: 2vh;
		margin-top: 2vh;

	}

body{

	background-repeat: repeat;
	}	
			
}

@media all and (max-width: 625px){

header{
	width: 100vw;
	font-size: 8.5vh;
	font-family: 'Audiowide', cursive;
	color: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
	z-index: 100;

	}

nav a{
	
	font-family: 'Unica One', cursive;
	font-size: 2vh;
	text-decoration: none;
	color: #FFF;

	}

	
nav{
	width: 100vw;
	position: fixed;
	top: 8vh;
	left: 0;
	z-index: 100;
	}

body{

	background-repeat: repeat;
	}		

}




@media all and (max-width: 560px){

header{
	width: 100vw;
	font-size: 8vh;
	font-family: 'Audiowide', cursive;
	color: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
	z-index: 100;

	}


nav{
	width: 100vw;
	position: fixed;
	top: 7vh;
	left: 0;
	z-index: 100;
	}

nav a{
	
	font-family: 'Unica One', cursive;
	font-size: 2vh;
	text-decoration: none;
	color: #FFF;

	}

body{

	background-repeat: repeat;
	}	

}

/* Mobile, small devices size*/

@media all and (max-width: 500px){

.mainContainer{
	margin-top: 10vh;
	height: 180vh;
	width: 100%;
	margin-left: 0;
	
}


.articleContainer{

	margin-left: 0;

	
}

.leftBox{
		float:left;
		height: 55vh;
		width: 100%;
		border: 1px solid black;
		background-color: white;
		margin-right: 2vw;
		margin-bottom: 2vh;
		display: block;

	}

	.rightBox{
		float:left;
		height: 55vh;
		width: 100%;
		border: 1px solid black;
		background-color: white;
		margin-right: 2vw;
		margin-bottom: 1vh;
		display: block;
		
	}

	.lastBox{
		margin-left: 0;
		width: 90%
	}	


header{
	width: 100vw;
	font-size: 4.5vh;
	font-family: 'Audiowide', cursive;
	color: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
	z-index: 100;

	}

h3 {
	font-family: 'Unica One', cursive;
	font-size: 15px;
	font-weight: bold;
	background-color: black;
	color: #FFF;


	}


nav{
	width: 100vw;
	position: fixed;
	top: 4.5vh;
	left: 0;
	z-index: 100;
	}

nav a{
	
	font-family: 'Unica One', cursive;
	font-size: 2vh;
	text-decoration: none;
	color: #FFF;

	}

nav ul li{
	display: inline-block;
	list-style: none;
	padding: 0.5vh 1vh;
	position: relative;
	}



	.imgGz{
	height: 250px;
	width: 530px;
	background-image: url(../img/Gz.png);
	background-size: 50% 50%;
	background-repeat: no-repeat;
	float: left;
	margin: 0 auto;

}

body{

	background-repeat: repeat;
	}	
	

}